.login_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -140px;
    margin-right: 60px;
    height: 844px;
    /* /* width: 390px; */
    /* border-left: 0.5px solid #000;
    border-right: 0.5px solid #000; */
    padding: 0 40px;
    /* background-color: #f4f4f4; */
}

.logo_login {
    width: 180px;
    margin-bottom: 48px;
}

.formulario_login {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 120%;
    gap: 12px;
}

.input_login {
    width: 100%;
    padding: 10px 16px;
    border: 1.3px solid #1E293B;
    border-radius: 50px;
    background-color: #f4f4f4;
    color: #0f172a;
    font-size: 15px;
    transition: all 0.25s ease-in-out;
    outline: none;
}

.input_login:focus {
    border-color: #2563EB;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
    background-color: #f9fafb;
}

.btn_login {
    background-color: #1E293B;
    width: 100%;
    border: none;
    margin-top: 16px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
}

.btn_login:hover {
    background-color: #2563EB;
    border: 2px solid #2563EB;
    transform: translateY(-2px);
}

.link_criar_conta {
    color: #1e293b;
    margin-top: 16px;
    font-size: 14px;
    text-decoration: underline; 
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: 70%;
}

.link_criar_conta:hover {
    color: #2563EB;
}
